body {
    padding-left: 40px;
}
/* CSS for input section */
.input__ul {
    list-style-type: none;
}

.input__li {
    padding: 5px;
}

.input__add {
    margin-left: 45px;
    padding: 10px 0 0 25px;
    height: 30px;
    width: 150px;
    border: 2px solid black;
}
.input__add:hover {
    background-color: green;
    color : white;
}
/* CSS for output */
td {
    width: 150px;
}
